<div ng-controller="LoginCtrl">

  <form name="loginForm" ng-submit="login(loginData)" novalidate>
    <input ng-model="loginData.email" class="form-control" type="email" placeholder="Email" required /><br/>
    <span class="error" ng-show="loginForm.email.$error.required">Please enter a valid Email</span>

    <input ng-model="loginData.password" class="form-control" type="password" placeholder="Password" required /><br/>
    <span class="error" ng-show="loginForm.password.$error.required">Please enter password</span>

    <input type="submit" value="Login" ng-disabled="loginForm.$invalid" class="btn btn-default" />
  </form>

  <br/>

  <form action="#">
  </form>

</div>
