<div ng-controller="LoginCtrl">

  <span class="error" ng-show="errorMessage"> {{ errorMessage }}</span>

  <form name="loginForm" ng-submit="login()" novalidate>
    <input ng-model="loginData.email" class="form-control" type="email" placeholder="Email" required /><br/>
    <span class="error" ng-show="loginForm.email.$error.required">Please enter a valid Email</span>

    <input ng-model="loginData.password" class="form-control" type="password" placeholder="Password" required /><br/>
    <span class="error" ng-show="loginForm.password.$error.required">Please enter password</span>

    <input type="submit" value="Login" class="btn btn-default" />
  </form>

  <br/>

</div>
